@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');/*======== RTL Direction ==========*/
body[dir="rtl"]{
    font-family: 'Cairo', sans-serif;
}
body[dir="rtl"] .newsletter_form2 button{
    top: 2px;
    left: 2px;
}

body::-webkit-scrollbar {
    background-color: #2a8e8238;
    width: 7px;
    right: -10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #86c441;
    border-radius: 8px;
    right: -10px;
  }

/*=========== Customize style =========*/
body .carousel-control-next{
    left: auto !important;
    right: 20px !important;
    background: #659430;
}
.navbar-brand img{
    width: 160px;
}
/*========= Absolute Icons ========*/
#absolute-icons .contact-icons {
    z-index: 999999999;
    position: fixed;
    bottom: 8%;
    left: 2%;
}
#absolute-icons .contact-icons a {
    display: block;
    margin: 20px 0px;
}
#absolute-icons .contact-icons a img {
    width: 40px;
}
/*=================*/
.footer_payment img{
    height: 30px;
}
/*========= Compare Page ========*/
.compare_box table tr td{
    width: 20%;
}